@mixin font-default {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

@mixin font-inputs {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

@mixin font-label {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

@mixin font-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
}