@use '../base' as *;
@use '../utils/variables' as *;

@mixin button-style(
  $_background-color: $primary-color,
  $_color: $black-color,
  $_padding-left-right: 24px,
  $_padding-top-bottom: 8px
) {
  background-color: $_background-color;
  color: $_color;
  padding: $_padding-top-bottom $_padding-left-right;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;

  @include font-default;
}

@mixin button-hover($_hover-background-color: $secondary-color) {
  cursor: pointer;
  background-color: $_hover-background-color;
}

@mixin text-hover($_hover-color: $secondary-color) {
  cursor: pointer;
  color: $_hover-color;
}


// Inputs
@mixin input-text(
  $_background-color: $input-background-color,
  $_color: $black-color,
  $_border-color: $primary-color,
  $_border-focus-color: $secondary-color,
  $_padding-left-right: 8px,
  $_padding-top-bottom: 8px
) {
  background-color: $_background-color;
  color: $_color;
  padding: $_padding-top-bottom $_padding-left-right;
  border-radius: 8px;
  border: 2px solid $_border-color;
  width: 100%;

  @include font-inputs;

  &::placeholder {
    color: $input-placeholder-color;
    font-style: italic;
  }

  &:focus {
    outline: none;
    border-color: $_border-focus-color;
  }
}