$primary-color: #25E7A3;
$secondary-color: #1AC7BE;
$background-color: #282828;
$input-background-color: #f1f1f1;
$black-color: #000000;
$white-color: #ffffff;
$input-placeholder-color: #626262;
$page-color: #1e1e1e;